@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.Image{
    inline-size: 80%;
    block-size: 95%;
}

.customBtn{
    inline-size: 50%;
    block-size: 5em;
}

.Adjustment{
    display: flex;
    flex-direction: column;
}

.Description{
    font-family: 'Merriweather', serif;
    color: #4e4637;
    font-size: 18px;
}

.Border{
    outline: 1px solid #4e4637;
    outline-offset: 15px;
}