@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Righteous&display=swap');

.Heads{
    text-transform: uppercase;
    color: #56a06c;
    text-align: center;
}

.Title{
    font-family: 'Dancing Script', cursive
}

.Others{
    font-family: 'Righteous', cursive;
}